# Node / Next.js
node_modules
.next
out
dist
npm-debug.log
yarn-error.log

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv

# Entornos / secretos
.env
.env.*
*.env

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Sistema
.DS_Store
